In [ ]:
# Criar o banco de dados
produto = 'produtos.db'

In [ ]:
# Criar tabelas
script_produtos = '''
CREATE TABLE IF NOT EXISTS Produtos(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    categoria TEXT NOT NULL,
    estoque INTEGER NOT NULL
);
'''

try:
    with sqlite3.connect(produto) as con:
        # Criar um cursor
        cur = con.cursor()

        # Executar o script
        cur.execute(script_produtos)

        # Salvar as alterações no banco de dados
        con.commit()
        print('Tabela criada com sucesso!')
except sqlite3.OperationalError as e:
    print('Erro:', e)

In [ ]:
# Verificar se a tabela foi criada
res = cur.execute('SELECT name FROM sqlite_master')
print(res.fetchall())  # retorna uma linha do resultado obtido, tabela
# resultado vem no formato de tupla

In [ ]:
sql = 'SELECT * FROM Produtos'  # criamos o comando de selecionar tudo

try:
    with sqlite3.connect(produto) as con:
        # Criar um cursor
        cur = con.cursor()
        # Executar o script
        cur.execute(sql)
        res = cur.fetchall()  # retorna uma lista de listas
        print(res)
except sqlite3.OperationalError as e:
    print('Erro:', e)

# Inserir dados

In [ ]:
sql = 'INSERT INTO Produtos (nome, preco, categoria, estoque) VALUES (?, ?, ?, ?)'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql, ('Notebook Dell', 2500.00, 'Eletrônicos', 15))
        con.commit()  # para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Erro:', e)

# Inserir vários dados

In [ ]:
# Lista de produtos para inserir
produtos = [
    ('Notebook', 3500.00, 'Eletrônicos', 10),
    ('Smartphone', 2200.00, 'Eletrônicos', 15),
    ('Geladeira', 4800.00, 'Eletrodomésticos', 5),
    ('Camisetas', 59.90, 'Vestuário', 50),
    ('Cafeteira', 320.00, 'Eletrodomésticos', 8)
]

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.executemany('INSERT INTO Produtos (nome, preco, categoria, estoque) VALUES (?, ?, ?, ?)', produtos)
        con.commit()  # para salvar as alterações no banco de dados
        print('Produtos inseridos com sucesso!')
except sqlite3.OperationalError as e:
    print('Erro:', e)

In [ ]:
# Para verificar se os dados foram inseridos corretamente
res = cur.execute('SELECT nome FROM produtos')
res.fetchall()

In [ ]:
# Outra maneira para verificar se os dados foram inseridos
for linha in cur.execute('SELECT nome, preco FROM Produtos ORDER BY nome'):
    print(linha)

# Atualizar um registro

In [ ]:
sql = 'UPDATE Produtos SET preco = ? WHERE id = ?'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql, (3700.00, 1))
        con.commit()  # para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Erro:', e)

# Deletar registro

In [ ]:
sql = 'DELETE FROM Produtos WHERE id = ?'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql, (1,))
        con.commit()  # para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Erro:', e)

In [ ]:
# Fechar conexão. Após concluir precisamos fechar a conexão com o banco de dados
con.close()